
<div class="container editor_container">
    <div class="row">

      <div class="col-md-3"> <!--Explorer panel-->
          <div class="panel panel-default">
              <div class="panel-heading">DAGs Explorer</div>
              <div class="panel-body explorer-panel">
                  <div id="jstree"></div>
              </div>
          </div>
      </div>

      <div class="col-md-9"> <!--Editor panel-->
          <div class="panel panel-default">
              <div class="panel-heading">DAG Editor<span class="label label-default path-label">Choose DAG file in the object explorer</span></div>
              <div class="panel-body code-panel">
                  <div id="editor">#   <--   Select DAG file in the left panel.   <--   </div>
              </div>
              <div class="panel-footer">
                  <button class="btn btn-primary btn-sm save-btn">Save</button>
                  <button class="btn btn-default btn-sm save-as-btn">Save As</button>
                  <button class="btn btn-default btn-sm reload-btn">Reload</button>
                  <button class="btn btn-danger btn-sm delete-btn ">Delete</button>
              </div>
          </div>
      </div>

    </div>
</div>

<style type="text/css">
#editor {
    width: 100%;
    height: 605px;
}
</style>
